.channel-page-main-content {
  margin-top: 30px;
}

.channel-wallpaper {
  /* width: 100%;
  max-width: 1595px; */
  width: 1595px;
  height: 280px;
  border-radius: 14px;
  object-fit: cover;
}

.channel-header {
  margin-top: 27px;
  width: 100%;
  max-width: 1595px;
  display: flex;
  justify-content: space-between;
}

.channel-titel {
  display: flex;
  align-items: center;
  gap: 14px;
}

h2 {
  margin: 0;
}

.channel-title-name {
  display: flex;
  flex-direction: column;
}

.channel-author {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.chanel-titel-action {
  display: flex;
  gap: 20px;
}

.channel-bell {
  margin-top: 8px;
  width: 22px;
  height: 26px;
}

.channel-essence {
  margin: 20px 0 39px 0;
  display: flex;
  gap: 205px;
}

.channel-essence-nav {
  display: flex;
  gap: 68px;
}

.channel-nav-item {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--search-svg);
}

.red-channel-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: rgba(255, 0, 0, 1);
}

.red-underline {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 0, 0, 1);
}

.channel-essence-content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  gap: 32px;
}

.channel-essence-data {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.channel-essence-video {
  object-fit: cover;
  width: 540px;
  height: 250px;
  border-radius: 14px;
}

.video-description {
  width: 250px;
}

.video-description-title {
  font-family: Mulish;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--video-player-description-text-color);
}

.channel-essence-video-description {
  width: 100%;
  max-width: 548px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.channel-essence-video-description-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.channel-essence-video-description-details-p {
  color: var(--video-player-description-p-color);
}

/* .video-description-details-with-a-dot {
  color: rgba(194, 194, 194, 1);
} */

.channel-essence-recommended {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.channel-essence-recommended-channels {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.channel-essence-recommended-channels-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recommended-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.recommended-author {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--video-player-description-text-color);
}

.arrows {
  margin-top: 22px;
  margin-right: 180px;
}

.main-row-title {
  margin-left: 5px;
  align-items: flex-end;
}

.main-row {
  gap: 30px;
}
