.channel-page-main-content {
  margin-top: 30px;
}

.channel-wallpaper {
  width: 100%;
  max-width: 1595px;
  height: 280px;
  border-radius: 14px;
  object-fit: cover;
}

.channel-header {
  margin-top: 27px;
  width: 100%;
  max-width: 1595px;
  display: flex;
  justify-content: space-between;
}

.channel-titel {
  display: flex;
  align-items: center;
  gap: 14px;
}

h2 {
  margin: 0;
}

.channel-title-name {
  display: flex;
  flex-direction: column;
}

.channel-author {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.chanel-titel-action {
  display: flex;
  gap: 20px;
}

.channel-bell {
  margin-top: 8px;
  width: 22px;
  height: 26px;
}

.channel-essence-nav {
  display: flex;
  gap: 70px;
}

.channel-nav-item {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}

.channel-essence {
  margin-top: 20px;
}

.channel-essence-content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  gap: 32px;
}

.channel-essence-video {
  width: 100%;
  max-width: 540px;
  height: 250px;
  border-radius: 14px;
}

.channel-essence-recommended-channels-item {
  display: flex;
  gap: 20px;
}

.recommended-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.recommended-author {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(25, 32, 44, 1);
}
