html {
  --page-background-color: #ffffff;
  --burger-color: #1f2022;
  --search-svg: rgba(0, 0, 0, 1);

  --input-bgc: rgba(235, 235, 235, 0.3);
  --icon-fill: rgba(0, 0, 0, 0.24);

  --video-player-title: rgba(25, 38, 70, 1);
  --reaction-box-bgc: rgba(235, 235, 235, 0.3);
  --reaction-box-color: rgba(25, 38, 70, 1);
  --video-player-description-text-color: rgba(25, 32, 44, 1);
  --video-description-details-color: rgba(194, 194, 194, 1);
  --video-player-description-p-color: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
  html {
    --page-background-color: #17171e;
    --burger-color: #ffffff;
    --search-svg: rgba(255, 255, 255, 1);

    --input-bgc: rgba(235, 235, 235, 0.1);
    --icon-fill: rgba(255, 255, 255, 0.4);

    --video-player-title: rgba(255, 255, 255, 1);
    --reaction-box-bgc: rgba(255, 255, 255, 0.1);
    --reaction-box-color: rgba(255, 255, 255, 1);
    --video-player-description-text-color: rgba(255, 255, 255, 1);
    --video-description-details-color: rgba(255, 255, 255, 0.4);
    --video-player-description-p-color: rgba(255, 255, 255, 0.6);
  }
}

body {
  margin: 0;
  background-color: var(--page-background-color);
  width: 100%;
  /* overflow-x: hidden; */
}

body * {
  box-sizing: border-box;
}

.page-container {
  /* margin: 0 auto; */
  padding: 20px 0 40px 30px;
  max-width: 1920px;
  width: 100%;
}

header {
  width: 1820px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
}

.header-general-container {
  display: flex;
  align-items: center;
}

.burger {
  padding-right: 28px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burger-line {
  width: 20px;
  height: 3px;
  background-color: var(--burger-color);
}

.header-general-container picture {
  padding-right: 59px;
}

.search-container {
  display: flex;
  padding: 13px 15px 12px 23px;
  width: 830px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--input-bgc);
}

input {
  width: 100%;
  border: none;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(48, 56, 76, 0.6);
  background-color: transparent;
}

.svg-container {
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container svg use {
  width: 18.21px;
  height: 18.21px;
  fill: #000000;
}

.header-user-container {
  padding-top: 2px;
  display: flex;
  gap: 45px;
}

/* .header-icons-container {
  display: flex;
  align-items: center;
  gap: 50px;
} */

.user-icons {
  width: 176px;
  height: 34px;
}

.header-icons-container svg use {
  fill: var(--icon-fill);
}
/* 
.icon-phone {
  width: 27px;
  height: 20px;
}

.icon-combined-shape {
  width: 21px;
  height: 21px;
  fill: var(--icon-fill);
}

.icon-bell svg {
  width: 22px;
  height: 26px;
  position: relative;
}

.oval {
  position: absolute;
  top: 24px;
  right: 155px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #ffffff;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.06px;
  text-align: center;
} */

.header-user-container img {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
}

aside {
  width: 224px;
  flex-shrink: 0;
}

.menu {
  margin: 50px 0 60px 0;
  width: 134px;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-evenly;
}

.menu-top,
.menu-rest {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.menu-item {
  height: 20px;
  display: flex;
  gap: 14px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(137, 137, 137, 1);
}

.svg-menu-container {
  padding-left: 2px;
  padding-bottom: 2px;
  width: 22px;
  height: 22px;
}

.menu-item svg use {
  height: 20px;
  fill: var(--icon-fill);
}

.subscriptions-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscriptions-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

h3 {
  margin: 0;
  display: inline;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}

.subscription-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(137, 137, 137, 1);
}

.subscription-item img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.setting-container {
  margin-top: 102px;
  display: flex;
  gap: 12px;
}

.details {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(194, 194, 194, 1);
}

.main-content {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-grow: 1;
  overflow-x: hidden;
}

.main-row {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.middle-row {
  gap: 7px;
}

.third-row {
  margin-top: 10px;
}

.main-row-header {
  display: flex;
  justify-content: space-between;
}

.main-row-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrows {
  margin-right: 145px;
  margin-top: 36px;
  width: 75px;
  height: 28px;
}

.arrows-middle-row {
  margin-top: 25px;
}

.main-row-content {
  display: flex;
  gap: 40px;
  overflow-x: hidden;
}

.h2-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-family: Mulish;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(25, 32, 44, 1);
}

.main-row-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.first-main-row-video {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  object-fit: cover;
}

.second-main-row-video {
  width: 540px;
  height: 250px;
  border-radius: 14px;
  object-fit: cover;
}

.video-container {
  position: relative;
}

.timer {
  position: absolute;
  right: 9px;
  bottom: 15px;
  width: 47px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.57px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.video-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h4 {
  margin: 0;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(25, 32, 44, 1);
}

p {
  margin: 0;
}

.video-description-details {
  display: flex;
  justify-content: space-between;
  font-family: Mulish;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.32px;
  text-align: left;
  color: rgba(194, 194, 194, 1);
}

.video-description-details-with-a-dot {
  display: flex;
  gap: 7px;
}

.video-description-details-with-a-dot-middle-row {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subscribe-button {
  width: 154px;
  height: 40px;
}

.main-row-nav {
  display: flex;
  align-items: baseline;
  gap: 35px;
}

@media screen and (max-width: 320px) {
  .hide-on-mobile {
    display: none;
  }

  .page-container {
    padding: 0;
    max-width: 320px;
  }

  main {
    flex-direction: column-reverse;
  }

  aside {
    width: 320px;
    display: flex;
    gap: 34px;
  }

  .menu-item {
    flex-direction: column;
    gap: 5px;
  }

  .main-row {
    flex-direction: column;
  }
}
