html {
  --page-background-color: #ffffff;
  --burger-color: #1f2022;
  --search-svg: #000000;
  --input-bgc: rgba(235, 235, 235, 0.7);
  --icon-fill: rgba(0, 0, 0, 0.76);
}

@media (prefers-color-scheme: dark) {
  html {
    --page-background-color: #17171e;
    --burger-color: #ffffff;
    --search-svg: #ffffff;
    --input-bgc: rgba(235, 235, 235, 0.9);
    --icon-fill: rgba(255, 255, 255, 0.6);
  }
}

body {
  background-color: var(--page-background-color);
}

.page-container {
  padding: 20px 0 40px 30px;
  max-width: 1920px;
  width: 100%;
}

header {
  display: flex;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burger-line {
  width: 20px;
  height: 3px;
  background-color: var(--burger-color);
}
.search-container {
  position: relative;
  width: 830px;
  height: 44px;
  border-radius: 22px;
  background-color: #ebebeb;
}

input {
  padding: 12px 23px;
  background-color: var(--input-bgc);
}

.search-container svg {
  position: absolute;
  top: 13px;
  right: 17px;
  stroke: var(--search-svg);
}
